name: format

on:
    push:
        branches:
            - main
            - 'releases/**'
    pull_request:
        branches:
            - main
            - 'releases/**'
    workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: "Setup Python, Poetry and Dependencies"
        uses: packetcoders/action-setup-cache-python-poetry@v1.2.0
        with:
          python-version: "3.10"
          poetry-version: "2.1.1"
          install-args: "--with dev"  # TODO: change this to --group dev when PR #842 lands

      - name: Running ruff
        run: |
          poetry run ruff check --diff pluto mlop tests
          poetry run ruff format --diff pluto mlop tests